{{ partial "header.html" . }}

{{ partial "sidemenu.html" . }}

{{ partial "banner.html" . }}

<section id="main" class="wrapper style1">
	<div class="container">
		<div class="row" style="margin-top: -2.5em;">
			<div class="9u">
				<section style="padding-bottom: 2em;"></section>
				<div style="overflow-x: scroll; word-break: break-all;">{{ .Content }}</div>

				{{ partial "post_meta_single_tags.html" . }}
				
				{{ partial "commento.html" . }}

				{{ partial "disqus.html" . }}

				{{ partial "telegram.html" . }}

				{{ partial "gtag_analytics.html" . }}

			</div>
			<div class="3u">
				{{ partial "post_right_nav.html" . }}
				{{ partial "main_right_nav.html" . }}
	 		</div>
		</div>
	</div>
</section>

{{ partial "footer.html" . }}
