@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
	-webkit-font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
	-moz-font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
	-ms-font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
	-o-font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
	font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

a {
  color: #ff881a;
}

a:visited {
	color: #b35300;
}

.content {
    padding: 1em 2em;
}

.header {
	font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
	border-bottom: 1px solid #EEE6D9;
}
.header h1 {
	font-size: 2.5em;
}
.header h2 {
	color: #999;
}

.prev-next-post div nav a{
	font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}