<h3><b class="icon fa-certificate">&nbsp;Certificates</b></h3>
<section class="post-block">
	<div class="row about-cert">
		{{ range .Site.Author.block_certified }}
		<div class="3u">
			<img class="post-cert-img" src="{{ $.Site.BaseURL }}/certified/{{.certified_image}}" alt="Cert Image">
			<label>{{.certified_issuer}}</label>
			<h4>{{.certified_name}}</h4>
			<ul class="actions">
				<li><a href="{{.certified_verifyUrl}}" class="button special small">verify</a></li>
			</ul>
		</div>
		{{ end }}
	</div>
</section>