<h3><b class="icon fa-briefcase">&nbsp;Works</b></h3>
{{ range .Site.Author.block_works }}
<section class="post-block">
	<div class="row">
		<div class="col-xs-2">
			<img src="{{ $.Site.BaseURL }}/images/{{.works_image}}" alt="Post Image">
		</div>
		<div class="col-xs-10">
			<h4>{{ .works_title }}</h4>
			<ul class="info-link">
    			{{ with .works_url }}
			    <li><a href="{{ . }}" rel="me" target="_blank" class="icon fa-link"><span class="label">website</span></a></li>
			    {{ end }}

				{{ with .works_github }}
			    <li><a href="https://github.com/{{ . }}" rel="me" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
			    {{ end }}

			    {{ with .works_gitlab }}
			    <li><a href="https://gitlab.com/{{ . }}" rel="me" target="_blank" class="icon fa-gitlab"><span class="label">GitLab</span></a></li>
			    {{ end }}

			    {{ with .works_bitbucket }}
			    <li><a href="https://bitbucket.org/{{ . }}" rel="me" target="_blank" class="icon fa-bitbucket"><span class="label">Bitbucket</span></a></li>
			    {{ end }}
			</ul>
			<p>{{ .works_description | safeHTML }}</p>
			<div>
				{{ range .works_tags }}
				<span class="badge"># {{ . }}</span>
				{{ end }}
			</div>
		</div>
	</div>
</section>
{{ end }}