<!-- Banner -->
<section id="banner" style="background-image: url('{{ $.Site.BaseURL }}/images/{{ if .IsHome }}banner2.jpg{{else if eq .Section "post" }}banner3.jpg{{else if or (eq .Section "tags") (eq .Section "category") }}banner3.jpg{{else}}banner1.jpg{{end}}');">
	<br /><br />
	<div class="inner" style="margin: 0 auto;  width: 90%;">
		{{ if .IsHome }}
		<h2>{{ .Site.Params.Brand }}</h2>
		{{ else if eq .Section "about" }}
		{{ else }}
			{{ if eq .Section "tags" }}
			<small style="font-size: 1.5em;">TAGS</small>
			{{else if eq .Section "category" }}
			<small style="font-size: 1.5em;">CATEGORY</small>
			{{end}}
			<h2 id="posts">{{ .Title }}</h2>
			{{ if eq .Section "post" }}
			{{ if isset .Params "date" }}
			{{ partial "post_meta_single.html" . }}
			{{ end }}
			{{ end }}
		{{ end }}
		{{ if not (eq .Section "about") }}
		<p>{{ if .IsHome }}{{ .Site.Params.Subtitle }}{{ else }}{{ .Description }}{{ end }}</p>
		{{ end }}
	</div>
</section>
{{ if eq .Section "about" }}
<div id="about-image" >
	<img src="{{ $.Site.BaseURL }}/images/author.jpg">
</div>
{{ end }}